
.container {
  display: flex;
  width: 50vw;
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  padding-block: 20px;
}

.avatar-username {
  display: flex;
  flex-direction: row;
}

.username {
  margin-left: 20px;
}
