<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- The main content of the page -->
  <main>

    <h1>Search players</h1>

    <div>
      <input #search type="text" (keyup)="getPlayers(search.value)" placeholder="Username">
    </div>

    <div>
      <ul>
        <li *ngFor="let playerUsername of playersUsernames">
          <a [routerLink]="['/player/'+playerUsername]">{{playerUsername}}</a>
        </li>
      </ul>
    </div>
  

  </main>

</div>

