
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.username-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* The navigation menu links */
a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
a:hover {
  color: #f1f1f1;
}
