<nav>

  <!-- Link to home page -->
  <a [routerLink]="['/']">Home</a> |

  <!-- TODO link -->

  <!-- Link to chat page -->
  <a [routerLink]="['/chat']">Chat</a> |
  <!-- Link to (current authenticated user) stats page-->
  <a [routerLink]="['/player/' + auth.getUsername()]">Stats</a> |
  <!-- Link to friend requests page -->
  <a [routerLink]="['/friend_requests']">Friend requests</a> |
  <!-- Link to live matches page -->
  <a [routerLink]="['/matches']">Live matches</a> |
  <!-- Link to search player page -->
  <a [routerLink]="['/searchPlayer']">Search player</a> |
  <!-- Link to upload avatar page -->
  <a [routerLink]="['/upload_avatar']">Upload avatar</a>

  <!-- Link to search player page -->
  <span *ngIf="auth.getPlayerType() === 'MODERATOR'">
    | <a [routerLink]="['/create_moderator']">Create moderator</a>
  </span>

  | <a (click)="logout()" [routerLink]="['']">Logout</a>


</nav>
