
<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- The main content of the page -->
  <main>

    <!-- <h1>Live matches</h1>

    <h2>Friends live matches</h2> -->
    <!-- TODO simile a sotto -->

    <h1>Best global live matches</h1>

    <div>
      <h3>Filter live matches for player username</h3>
      <input #search type="text" placeholder="Username"/>
      <input type="submit" (click)="searchLiveMatchesByUsername(search.value)" value="Search"/>
    </div>

    <br/>

    <div *ngFor="let liveMatch of globalLiveMatches" style="border:1px solid black;">
      <!-- TODO eventualmente creare un component a parte (MatchCard) -->
      <p style="color:red">{{ liveMatch.player1 }}</p> vs <p style="color:yellow">{{ liveMatch.player2 }}</p>

      <button (click)="observeMatch(liveMatch)">Observe</button>
    </div>

  </main>

</div>
