
<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- The main content of the page -->
  <main>

    <h1>Best global live matches</h1>

    <div style="padding-top: 20px;">
      <p>Filter live matches for player username</p>
      <input #search type="text" placeholder="Username"/>
      <input type="submit" (click)="searchLiveMatchesByUsername(search.value)" value="Search"/>
    </div>

    <br/>

    <div *ngIf="globalLiveMatches.length>0; else emptyList" style="padding-top: 20px;">
      <div *ngFor="let liveMatch of globalLiveMatches"
            style="border:1px solid black;">
        <div style="color:red">{{ liveMatch.player1 }}</div> vs <div style="color:rgb(255, 217, 0)">{{ liveMatch.player2 }}</div>

        <button (click)="observeMatch(liveMatch)">Observe</button>
      </div>
    </div>

    <ng-template #emptyList>
      <div style="padding-top: 20px; color: gray;"><h3>No live matches</h3></div>
    </ng-template>

  </main>

</div>
