<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- Friend requets container -->
  <div>
    <!-- Friend request list -->
    <div *ngFor="let friendRequest of getReceivedFriendRequests()">
      <!-- Friend request -->
      <app-friend-request-card
        [friendRequest]="friendRequest"
        (friendRequestProcessed)="onFriendRequestProcessed($event)"
      >
      </app-friend-request-card>
    </div>
  </div>

</div>
