


<!-- Container -->
<div class="container">

  <!-- Top container -->
  <div class="top-row">
    <!-- My name container -->
    <div
      class="name-rectangle"
      [ngClass]="{'red': gameService.whichPlayer() === 'PLAYER_1', 'yellow': gameService.whichPlayer() === 'PLAYER_2'}"
    >
      {{ getMyUsername() }}
    </div>

    <!-- Time container -->
    <div style="border-color: gray; border-style: solid; border-width: 2px; padding: 50px;"
    >
      Time (TODO ?)
    </div>

    <!-- Other player name container -->
    <div
    class="name-rectangle"
    [ngClass]="{'red': gameService.whichPlayerOpponent() === 'PLAYER_1', 'yellow': gameService.whichPlayerOpponent() === 'PLAYER_2'}"
    >
      {{ getOtherUsername() }}
    </div>
  </div>

  <!-- Middle container -->
  <div class="middle-row">

    <!-- Board -->
    <app-board
      style="margin-left: 20%;"
      [boardMatrix]="getBoard()"
      (columnSelected)="makeMove($event)"
    >
    </app-board>


    <!-- Chat -->
    <div style="flex-grow: 1; margin-inline: 5px; border: 1px solid; max-width: 350px;">
      <app-match-chat [matchId]="getMatchId()"></app-match-chat>
    </div>

  </div>

  <!-- Bottom container -->
  <div class="bottom-row">
    <!-- Forfait button -->
    <div *ngIf="!isGameEnded()">
      <button
        style="padding-inline: 100px; padding-block: 20px; background-color: red;"
        (click)="forfait()"
        [disabled]="isGameEnded()"
      >
        Forfait
      </button>
    </div>

    <!-- Winner -->
    <div *ngIf="isGameEnded()">
      <p>The winner is: {{ getWinner() || '' }}</p>
    </div>
  </div>

</div>
