


<!-- Container -->
<div class="container">

  <!-- Top container -->
  <div class="top-row">
    <!-- My name container -->
    <div
      class="name-rectangle"
      [ngClass]="{'red': isLeftPlayerRed(), 'yellow': !isLeftPlayerRed() }"
    >
      {{ isUserAMatchPlayer() ? getMyUsername() : gameService.getPlayer1Username() }}
    </div>

    <!-- Time container -->
    <div style="border-color: gray; border-style: solid; border-width: 2px; padding: 50px;"
    >
      Time (TODO ?)
    </div>

    <!-- Other player name container -->
    <div
    class="name-rectangle"
    [ngClass]="{'red': !isLeftPlayerRed(), 'yellow': isLeftPlayerRed()}"
    >
      {{ isUserAMatchPlayer() ? getOtherUsername() : gameService.getPlayer2Username() }}
    </div>
  </div>

  <!-- Middle container -->
  <div class="middle-row">

    <!-- Board -->
    <app-board
      style="margin-left: 20%;"
      [boardMatrix]="getBoard()"
      (columnSelected)="makeMove($event)"
    >
    </app-board>


    <!-- Chat -->
    <div style="flex-grow: 1; margin-inline: 5px; border: 1px solid; max-width: 350px;">
      <app-match-chat [matchId]="getMatchId()"></app-match-chat>
    </div>

  </div>

  <!-- Bottom container -->
  <div class="bottom-row">
    <!-- Forfait button -->
    <div *ngIf="!isGameEnded() && isUserAMatchPlayer()">
      <button
        style="padding-inline: 100px; padding-block: 20px; background-color: red;"
        (click)="forfait()"
        [disabled]="isGameEnded()"
      >
        Forfait
      </button>
    </div>

    <!-- Winner -->
    <div *ngIf="isGameEnded()">
      <p>The winner is: {{ getWinner() || '' }}</p>
    </div>
  </div>

  <!-- Exit -->
  <div *ngIf="isGameEnded() || !isUserAMatchPlayer()" >
    <button style="padding-inline: 100px; padding-block: 20px;"
            (click)="exitGame()">
      {{isGameEnded() ? 'Exit game' : 'Stop observing'}}
    </button>
  </div>

</div>
