


<!-- Container -->
<div class="container">

  <!-- Top container -->
  <div class="top-row">
    <!-- My name container -->
    <div style="border-color: red; border-style: solid; border-width: 2px; padding: 50px;">{{ getMyUsername() }}</div>
    <!-- Time container -->
    <div style="border-color: gray; border-style: solid; border-width: 2px; padding: 50px;">Time</div>
    <!-- Other player name container -->
    <div style="border-color: yellow; border-style: solid; border-width: 2px; padding: 50px;">{{ getOtherUsername() }}</div>
  </div>

  <!-- Middle container -->
  <div class="middle-row">

    <!-- Board -->
    <app-board style="margin-left: 20%;"></app-board>


    <!-- Chat -->
    <div style="background-color: blueviolet; flex-grow: 1;">
      Test
    </div>

  </div>

  <!-- Bottom container -->
  <div class="bottom-row">
    <!-- Forfait button -->
    <div>Forfait</div>
  </div>


</div>
