
<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- The main content of the page -->
  <main>

    <!-- When not in matchmaking -->
    <div *ngIf="!waitingMatch()">
      <!-- TODO ngIf status: not match making -->
      <img src="" alt="Avatar">
      <h1>Username</h1>

      <button (click)="playRandomMatch()">Play</button>
    </div>

    <!-- When in matchmaking -->
    <div *ngIf="waitingMatch()">
      <!-- TODO ngIf status: match making -->
      <h1>Matchmaking...</h1>

      <button (click)="cancelRandomMatch()">Cancel</button>
    </div>

  </main>

</div>
