
<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- The main content of the page -->
  <main class="container">

    <!-- When not in matchmaking -->
    <div *ngIf="!waitingMatch()" class="content">

      <div class="top-row">
        <img [src]="avatarLink()" alt="Avatar">
        <h1>{{ getUsername() }}</h1>
      </div>

      <button class="button play-button" (click)="playRandomMatch()">Play</button>
    </div>

    <!-- When in matchmaking -->
    <div *ngIf="waitingMatch()" class="content">
      <div class="top-row">
        <h1>Matchmaking...</h1>
      </div>

      <button class="button cancel-button" (click)="cancelRandomMatch()">Cancel</button>
    </div>

  </main>

</div>
