
<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- The main content of the page -->
  <main *ngIf="player.username; else notValidPlayer">

    <!-- Player personal data -->
    <div>
      <img src="" alt="Avatar">
      <h1>{{player.username}}</h1>
      <p>{{getPrettyPlayerType()}}</p>
      <div *ngIf="player.online">
        <p style="color:green">Online</p>
      </div>
      <div *ngIf="!player.online">
        <p style="color:red">Offline</p>
      </div>
      <div *ngIf="dynamicFlags.areUserPlayerFriends">
        Friend
      </div>
      <div *ngIf="player.ingame">
        In game
      </div>
    </div>

    <!-- Various buttons  --> 
    <div>
       <!-- TODO provare a eliminare -->
      {{dynamicFlags.areUserPlayerFriends ? "" : ""}}
      {{dynamicFlags.hasUserSentFriendRequestToPlayer ? "" : ""}}
      {{dynamicFlags.hasPlayerSentFriendRequestToUser ? "" : ""}}
      <button *ngIf="!(dynamicFlags.areUserPlayerFriends) && !isUser"    
              [disabled]="dynamicFlags.hasUserSentFriendRequestToPlayer || dynamicFlags.hasPlayerSentFriendRequestToUser"         
              (click)="sendFriendRequest()">
        Send friend request 
      </button>
      <button *ngIf="dynamicFlags.hasUserSentFriendRequestToPlayer" 
            (click)="cancelFriendRequest()">
        Cancel friend request 
      </button>
      <button *ngIf="dynamicFlags.hasPlayerSentFriendRequestToUser"             
              (click)="sendFriendRequest()">
        Accept friend request 
      </button>
      <button *ngIf="dynamicFlags.hasPlayerSentFriendRequestToUser"             
              (click)="cancelFriendRequest()">
        Reject friend request
      </button>
      <button *ngIf="dynamicFlags.areUserPlayerFriends" 
            (click)="deleteFriend()">
        Delete friend
      </button>  
      <button *ngIf="!isUser && (isUserModerator || dynamicFlags.areUserPlayerFriends)">
        Chat
      </button>
      <button *ngIf="isUser || isUserModerator" 
              (click)="deletePlayer()">
        Delete
      </button>
      <button *ngIf="player.ingame">Watch</button>
    </div>

    <!-- 1v1 stats -->
    <!-- <div>
      <h2>1v1 stats</h2>
      Table
    </div> -->

    <!-- General stats -->
    <div *ngIf="playerStats">
      <h2>Stats</h2>
      <ul>
        <li>Rating {{playerStats.rating}}</li>
        <li>Total matches {{playerStats.matchCount}}</li>
        <li>Total wins {{playerStats.winCount}}</li>
        <li>Total losses {{playerStats.matchCount - playerStats.winCount}}</li>
        <li>Wins rateo {{playerStats.matchCount>0 ? playerStats.winCount/playerStats.matchCount: '-'}}</li>
        <li>Forfait wins {{playerStats.forfaitWinCount}}</li>
        <li>Forfait losses {{playerStats.forfaitLossCount}}</li>
        <li>Total minutes played {{playerStats.secondsPlayed}}</li>
        <li>Toal moves made {{playerStats.moveCount}}</li>
      </ul>
    </div>

  </main>

  <ng-template #notValidPlayer>
    <div><b>Invalid player</b></div>
  </ng-template>

</div>
