
<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- The main content of the page -->
  <main>

    <!-- TODO gestire caso in cui username sia sbagliato -->

    <!-- Player personal data -->
    <div>
      <img src="" alt="Avatar">
      <h1>Username</h1>
    </div>

    <!-- Various buttons -->
    <div>
      <button>Friend / Friend Request Sent / Add Friend</button>
      <button>Chat</button>
      <button>Delete</button>
      <button>Watch</button>
    </div>

    <!-- 1v1 stats -->
    <div>
      <h2>1v1 stats</h2>
      Table
    </div>

    <!-- General stats -->
    <div>
      <h2>General stats</h2>
      Table
    </div>

  </main>

</div>
