
<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- The main content of the page -->
  <main *ngIf="player.username; else notValidPlayer">

    <!-- Player personal data -->
    <div style="margin-top: 20px;">
      <img [src]="avatarLink(player.username)" alt="Avatar" style="max-width: 200px; max-height: 200px; object-fit: cover;">
      <h1>{{player.username}}
         <button *ngIf="isUser || isUserModerator"
                 (click)="deletePlayer()">
            {{ isUser ? 'Delete profile' : 'Delete player' }}
        </button>
      </h1>
      <p>Type: <i>{{getPrettyPlayerType()}}</i></p>
      <button *ngIf="!isUser && (isUserModerator || dynamicFlags.areUserPlayerFriends)"
              (click)="router.navigate(['/chat/'+player.username])">
              Chat
      </button>
    </div>

    <div style="padding-top: 50px;">
      <div [style]="player.online ? 'color:green' : 'color:red'">
        {{player.online ? 'Online' : 'Offline' }}
      </div>
      <div *ngIf="dynamicFlags.areUserPlayerFriends"
            style="color:blue">
            Friend
      </div>
      <div *ngIf="!dynamicFlags.areUserPlayerFriends && !isUser">
        <p style="color:grey">Not friend</p>
      </div>
      <div *ngIf="player.ingame" style="padding-top: 5px;">
        In game
        <button (click)="observe()">
          Watch
        </button>
      </div>
      <!-- Several buttons -->
      <div style="padding-top: 5px;">
       <button *ngIf="!(dynamicFlags.areUserPlayerFriends) && !isUser"
               [disabled]="dynamicFlags.hasUserSentFriendRequestToPlayer || dynamicFlags.hasPlayerSentFriendRequestToUser"
               (click)="sendFriendRequest()">
         Send friend request
       </button>
       <button *ngIf="dynamicFlags.hasUserSentFriendRequestToPlayer"
             (click)="cancelFriendRequest()">
         Cancel friend request
       </button>
       <button *ngIf="dynamicFlags.hasPlayerSentFriendRequestToUser"
               (click)="sendFriendRequest()">
         Accept friend request
       </button>
       <button *ngIf="dynamicFlags.hasPlayerSentFriendRequestToUser"
               (click)="cancelFriendRequest()">
         Reject friend request
       </button>
       <button *ngIf="dynamicFlags.areUserPlayerFriends"
             (click)="deleteFriend()">
         Delete friend
       </button>
     </div>
    </div>

    <!-- General stats -->
    <div *ngIf="playerStats" style="padding-top: 50px;">
      <h2>Stats</h2>
      <ul>
        <li>Rating {{getPrettyRating()}}</li>
        <li>Total matches {{playerStats.matchCount}}</li>
        <li>Total wins {{playerStats.winCount}}</li>
        <li>Total losses {{playerStats.matchCount - playerStats.winCount}}</li>
        <li>Wins rateo {{getPrettyWinsRateo()}}</li>
        <li>Forfait wins {{playerStats.forfaitWinCount}}</li>
        <li>Forfait losses {{playerStats.forfaitLossCount}}</li>
        <li>Total minutes played {{getPrettyMinutesPlayed()}}</li>
        <li>Toal moves made {{playerStats.moveCount}}</li>
      </ul>
    </div>

  </main>

  <ng-template #notValidPlayer>
    <div ><h1><b>Invalid player</b></h1></div>
  </ng-template>

</div>
