
<!-- Side bar -->
<app-friends-side-bar></app-friends-side-bar>


<!-- Page content -->
<div class="main">
  <!-- Nav bar -->
  <app-nav></app-nav>

  <!-- The main content of the page -->
  <main>

    <h1>Chats</h1>

    <!-- Chat list -->
    <div *ngIf="getChats().length>0; else emptyList">
      <div *ngFor="let chat of getChats()" >
        <app-chat-card
          [chat]="chat"
          (chatOpened)="openChat($event)"
        >
        </app-chat-card>
      </div>
    </div>

    <ng-template #emptyList>
      <div style="padding-top: 20px; color: gray;"><h3>No chats</h3></div>
    </ng-template>

  </main>

</div>
